sudo: required
dist: trusty
language: node_js
node_js:
   - "4"
env:
 - CXX=g++-4.8
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8

# safelist
branches:
  only:
    - master
    - stable

install:
    - npm install


script:
    - npm run test